<!DOCTYPE HTML>

<div class="orgapp">
  <%# トップ画面上段 %>
  <div class="Upper-row">
    <div class="head">
      <div class="left-head">
        CHAT PAGE
      </div>
      <div class="right-head">
        <% if user_signed_in? %>
          <%= link_to current_user.name, "#", class: "login-name" %>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
        <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: "login" %>
          <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %>
        <% end %>
      </div>
    </div>
    <%# トップ画面上段 %>

    <%# 日付表示＆業務連絡 %>
    <div class="date-contact">
      <div class="date">
      　<%= @time.year %>年<%= @time.month %>月<%= @time.day %>日 (<%= @week %>)
      </div>
      <div class="contact">
        <% if @contact && @contact.message != "" %>
        <div class="form-msg"><%= @contact.message %></div>
        <% else %>
        <div class="form-msg">- 業務連絡 -</div>
        <% end %>
        <%# placeholder= "Please enter a business contact"> %>
        <% if current_user.admin? %>
          <% if @contact %>
            <%= link_to '編集', edit_contact_path(@contact), class: "edit-button" %>
          <% else %>
            <%= link_to '編集', new_contact_path, class: "edit-button" %>
          <% end %>
        <%# <a href="#" class="edit-button">編集</a> %>
        <% end %>
      </div>
    </div>
    <%# 日付表示＆業務連絡 %>
  </div>

<%# チャット画面 %>
  <div class="wrapper">
    <div class="side-bar">
      <%= render "side_bar" %>
    </div>
    <div class="chat">
      <%= render "main_chat" %>
    </div>
  </div>
  <%# チャット画面 %>
</div>